.user_photos{
    position: absolute;
    top: 318px;
    margin-bottom: 102px;
}

.user_top{
    height: 30px;

    &_actionButton{
        float: right;
        display: inline-block;


        &_text{
            font-family: 'Poppins Medium';
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: right;
            border: none;
            /* Gray 4 */
            
            color: #BDBDBD;
            background-color: white;
            text-decoration: none;
        }
    }
}

.follower_link{
    text-decoration: none;
}

.following_link{
    text-decoration: none;
}